@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
}

.topo {
  background-color: #00b2b4;
}

.topo nav {
  padding: 15px 0px;
  text-align: right;
  width: 1024px;
  margin: 0 auto
}

.topo nav ul {
  overflow: hidden;
  display: inline-block;
}

.topo nav li {
  width: auto;
  float: left;
  margin-left: 20px;
}

.topo nav a {
  display: block;
  border: 1px solid white;
  padding: 10px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}

/* banner principal */

.topo .banner {
  background: #ccc;
  text-align: center;
  margin: 0 auto;
}

.topo .banner img {
  border: 1px solid #000;
  display: block;
  width: 1024px;
  height: 200px;
  left: 10%;
  margin: 0 auto;
}

/* contéudo */
.content {
  background-color: #fff;
}

main.content > section {
  width: 1024px;
  margin: 0 auto;
  padding: 30px 0px;
}

.content section > h2 {
  font-weight: bold;
  font-size: 27px;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

/* listagem residentes */

.lista-residentes {
  display: flex;
  flex-wrap: wrap;
}

.lista-residentes li {
  width: 25%;
  margin-bottom: 50px;
}

.lista-residentes li div {
  border: 2px solid #ff7400;
  border-top: none;
  width: 60%;
  margin: 0 auto;
  border-radius: 0px 0px 15px 15px;
  padding-bottom: 30px;
  padding-top: 10px;
  position: relative;
  text-align: center;
}

.lista-residente-titulo {
  margin: 30px;
}

.lista-residentes li figure {
  height: 150px;
  overflow: hidden;
  width: 60%;
  margin: auto;
}

.lista-residentes li figure > img {
  display: block;
  width: 100%;
}

.lista-residentes li strong {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.lista-residentes li p {
  width: 80%;
  margin: 10px auto;
  text-align: justify;
}

.lista-residentes li a.btn {
  position: absolute;
  bottom: -15px;
  left: 10%;
}

.btn {
  border-radius: 10px;
  padding: 7px;
  display: block;
  width: 80%;
  text-align: center;
  text-decoration: none;
}

.btn-mevisite {
  background-color: #00b2b4;
  color: white;
  text-transform: uppercase;
}

.icon-think{
  width: 30px;
}


.btn.btn-voltar {
  border: none;
  text-align: left;
}