@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
  font-family: 'Dosis', sans-serif;
}

.topo {
}

.topo nav {
  padding: 15px 0px;
  background-color: #00b2b4;
  text-align: right;
}

.topo nav ul {
  overflow: hidden;
  display: inline-block;
  margin-right: 140px;
}

.topo nav li {
  width: auto;
  float: left;
  margin-left: 20px;
}

.topo nav a {
  display: block;
  border: 1px solid white;
  padding: 10px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}