
.foto > img{
  width: 100%;
  border-radius: 100%;
}

.dados h1.nome-e-idade{
  font-size: 2.8em;
  margin-bottom: 0px;
}

.dados h2{
  font-style: italic;
  font-size: 1.2em;
  margin-top: 10px;
}

.preferencias ul li {
  list-style:
}

p.sonho{
  padding: 40px 10px;
  border: 2px solid orange;
  width: auto;
  display: inline-block;
  border-radius: 12px;
  position: relative;
}

p.sonho::after{
    content: url("../img/think.png");
    width: 30px;
    height: 30px;
    top: -28px;
    right: 1px;
    display: inline-block;
}


p.titulo-historia{
  font-weight: bold;
  padding-top: 25px;
}


ul li.like{
  background: url('../img/like.png') no-repeat left bottom;
  padding: 30px 10px 10px 55px;
}

ul li.dislike{
  background: url('../img/dislike.png') no-repeat left bottom;
  padding: 30px 10px 20px 55px;
}




.bg-cinza{
  background: lightgray;
}
