body{
  font-family: 'Dosis', sans-serif;
  background: #efefef;
}

.topo nav {
  text-align: left;
  width: 100%;
  margin: 0 auto;
  background-color: #00b2b4;
  margin-bottom: 40px;
}


.topo nav a {
  display: block;
  color: white;
  font-weight: bold;
  padding-left: 20px;
  font-size: 16px;
}


.foto > img{
  width: 100%;
  border-radius: 50%;
}

.dados h1.nome{
  font-size: 1.8em;
  margin-bottom: 0px;
  font-weight: bold;
  margin-top: 20px;
}

.dados h2{
  font-size: 1.2em;
  margin-top: 10px;
  color: gray;
  margin-bottom: 20px;
}

.sonho .titulo{
  color: gray;
  font-size: 17px;
}


.localizacao{
  margin-bottom: 30px;
  margin-top: 20px;
}

.pin-imagem{
  display: inline-block;
  margin-top: 7px;
}

.pin-imagem img{
  display: inline-block;
  width: 55px;
  height: auto;
}

.informacoes-git .endereco{
  color: gray;
  font-size: 16px;
  margin-left: 20px;
}

.nosso-git {
  float: right;
  padding-top: 20px;
}

.informacoes-git .horario{
  color: #555;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  padding-left: 15px;
}

.botoes-contato .email{
  background-color: #00AFB2;
  padding: 10px 30px;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-size: 16px;
}

.botoes-contato .telefone{
  border:1px solid #00AFB2;
  padding: 10px 15px;
  border-radius: 20px;
  text-align: center;
  color: #00AFB2;
  font-size: 16px;
  margin-left: 10px;
}

.bg-cinza{
  background: lightgray;
}

.necessidades{
  margin-top: 70px;
  padding: 40px 0px;
  margin-bottom: 30px;
}

.necessidades .titulo{
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 20px;
}

.doacoes-item{
  text-align: center;
}

.doacoes-icon{
  width: 70px;
  height: 70px;
}

.doacoes-descricao{
  text-align: center;
}

.doacao-button{
  text-align: center;
}

.doacao-button .botao{
  background-color: #00AFB2;
  padding: 10px 30px;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-size: 16px;
}
.conheca {
  text-align: center;
  margin-top: 50px;
  padding: 40px 0px;
}

.conheca .titulo {
  color: #333;
  font-size: 25px;
  font-weight: bold;
}

.conheca .sub-titulo{
  color: #555;
  font-size: 18px;
  margin: 10px 0px;
}


.lista-residentes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.lista-residentes li {
  width: 25%;
  margin-bottom: 20px;
}

.lista-residentes li div {
  border: 2px solid #ff7400;
  border-top: none;
  width: 60%;
  margin: 0 auto;
  border-radius: 0px 0px 15px 15px;
  padding-bottom: 30px;
  padding-top: 10px;
  position: relative;
  text-align: center;
}

.lista-residente-titulo {
  margin: 30px;
}

.lista-residentes li figure {
  height: 150px;
  overflow: hidden;
  width: 60%;
  margin: auto;
}

.lista-residentes li figure > img {
  display: block;
  width: 100%;
}

.lista-residentes li strong {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.lista-residentes li p {
  width: 80%;
  margin: 10px auto;
  text-align: justify;
}

.lista-residentes li a.btn {
  position: absolute;
  bottom: -15px;
  left: 10%;
}

.btn {
  border-radius: 10px;
  padding: 7px;
  display: block;
  width: 80%;
  text-align: center;
  text-decoration: none;
}

.btn-mevisite {
  background-color: #00b2b4;
  color: white;
  text-transform: uppercase;
  padding: 0px;
}

.icon-think{
  width: 30px;
}

.bg-cinza-escuro{
  height: 250px;
  background-color: grey;
  margin-top: 25px;
}

.conheca-button{
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.conheca-button .botao{
  background-color: #00AFB2;
  padding: 10px 30px;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-size: 16px;
}
