@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
}